/* add your CSS here */
html, body {
	font-family: Times; 
}

.wraper {
	border: 1px solid #CCC;
	width: 320px;
	box-shadow: 5px 5px 10px #CCC;
}

.name {
	padding-left: 10px;
	font-size: 30px;
}

.image {
	width: 300px;
	padding-left: 10px;
}

.info {
	margin: 10px;
	width: 298px;
	box-shadow: none;
}

.fun-fact {
	font-style: italic;
	padding-left: 10px;
	padding-right: 10px;
}

.list {
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
}

.item {
	font-weight: 800;
}

.description {
	padding-left: 10px;
	padding-right: 10px;
}
